<div id="welcome">
  <h4>Witaj :)</h4>
  <p>
    Blirc jest klientem blipa na wzór starego dobrego irca. Chwilowo działa tylko gapienie sie na kokpit ...
  </p>
  <p>
    Kiedyś coś tu jeszcze dopiszę ... a teraz ...
  </p>
  <form action="/request" method="POST"> 
    <img src="http://blip.pl/images/logo.png"/>
    <br/>
    <input type="submit" value="Przejdź do autoryzacji na Blip" />
  </form>
</div>
